@font-face{
  font-family:futura-pt; 
  src: url(fonts/FuturaCyrillicBook.ttf)
}

body {
    background-color: #151d22;
    font-family: futura-pt , sans-serif;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow-x: hidden;
    font-size: 100%;
}
head{
    height:100%;
}

a {
    text-decoration: none;
}

.title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: futura-pt , sans-serif;
  font-size: 3em;
  color: #8DF0D4 ; /* #3A947A*/
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 5vh;
  margin-bottom: 1vh;
}

#navButtons { 
  display: flex;
  align-items: flex-end;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 9.5vw;
  margin-right: 9.5vw;
}

#navButtons h2 {
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
}

#navButtons p {
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
}

#home {
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

#prev {
  margin-left: auto;
  margin-bottom: 0;
  margin-top: 0;
}

footer {
  margin-top: auto;
}

.ProjText {
  margin-left: 9.5vw;
  max-width: calc(100% - 19vw); /* Adjusted value */
  overflow-wrap: break-word;
  font-family: futura-pt , sans-serif;
}

.AboutImage {
  margin-left: 9.5vw;
  margin-right: 2vw;
  overflow-wrap: break-word;
  font-family: futura-pt , sans-serif;
  padding: 0px 0px;
}

.AboutImage img{
  width: 38vw;
  height: auto;
  padding: 0px 0px;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10vh; 
  width: 100%;
  padding:0px 0px;
}

.abtwrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10vh; 
  width: 100%;
  padding:0px 0px;
}

.AboutText {
  margin-right: 9.5vw;
  margin-left: 2vw;
  max-width: calc(100% - 19vw); /* Adjusted value */
  overflow-wrap: break-word;
  font-family: futura-pt , sans-serif;
}

.AboutText h2 {
  font-size: 1.5em;
}

#line {
  background-color: #8DF0D4;
  height: 0.2vh;
  padding-top:0vw;
  padding-left:0vw;
  margin-left: 9.5vw;
  margin-right: 9.5vw;
  margin-top: 0vh;
  margin-bottom: 5vh;
  border: 0vh solid #3A947A;
}

#line2 {
  background-color: #8DF0D4;
  height: 0.2vh;
  padding-top:0vw;
  padding-left:0vw;
  margin-left: 9.5vw;
  margin-right: 9.5vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  border: 0vh solid #3A947A;
}

/*.aboutimg {
    
    width: 88.5vw;
    margin-left: 9.5vw;
    margin-right: 2vw;
    align-self: flex-start;
    position: relative;
}*/

.container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}



.aboutimg .caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0);
  color: white;
  text-align: center;
  padding: 8px;
  opacity: 0;
  transition: opacity 0.3s ease;
  max-width: 90%; 
}
.show-caption {
  opacity: 1; /* This will make the caption fully opaque */
}

.aboutimg.hover img {
  opacity: .5;
}

.aboutimg[data-show-caption="true"] img {
  opacity: 0.5;
}

#imageList .aboutimg[data-show-caption="true"] .caption {
  opacity: 1;
  background:rgba(0, 0, 0, 0)
}

.hover img {
  opacity: 0.5;
}

.aboutimg {
  position: relative;
}

.aboutimg img {
    max-width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
}

p {
    font-family: futura-pt , sans-serif;
    color: ghostwhite;
    
}

h1 {
    font-family: futura-pt , sans-serif;
    font-size: 3em;
    color: #8DF0D4 ; /* #3A947A*/
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 5vh;
    margin-bottom: 1vh;
}

h2 { 
  font-family: futura-pt , sans-serif;
  font-size: 1em;
  color: #8DF0D4;
  padding-top: 0px;
  margin-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

h2#currentPage {
  color: #3A947A;
}


table .button{
    width:auto;
    height: auto;
    transition: transform .25s ease-in-out;
    margin-left: 10px;
    margin-right: 10px;
    
}

table .button:hover {
    transform: scale(1.1);
}

table { 
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px;
    width: 60 vw;
}

th {
    margin-left: 5.5vw;
    margin-right: 5.5vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 0px;
    padding-bottom:0px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.grid-container {
    margin-left: 12%;
    margin-right: 12%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 1rem;
}

.grid-item {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    object-fit: contain;

}
 
 body {
   margin: 0;
   padding: 0;
 }

 #gallery {
  display: flex;
  justify-content: center;
  width: 81%; 
  margin-left: auto;
  margin-right: auto;
}

ul#imageList {
  text-align: center;
  width: calc(100vw - 17px); /* Subtract the width of the scrollbar */
  margin: auto;
  padding: 0;
}

ul#imageList li {
  width: 40vw; /* Adjust this value to set the width of the grid items */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: 0;
}



ul#imageList img {
  max-width: 100%;
  height: auto;
  transition: opacity 0.3s ease;
}

#imageList a {
  position: relative;
  display: block;
}

#imageList a:hover img {
  opacity: 0.5;
}

#imageList div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#imageList a:hover div {
  opacity: 1;
}

.centerFoot {
  align-content: center;
  max-width: 82vw;
  text-align: center;
  margin-top: 0;
  margin-bottom: 2%
}

.centerFoot p{
  margin-top: 0;
  margin-bottom: 2%;
  padding: 0;
  font-size: 90%;
}

.centerFoot h2 {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 2%;
  font-size: 90%;
}

.foot {
  display: flex;
  max-width: 82vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vw;
  margin-bottom: 1vw;
  padding: 0;
  justify-content: center;
}

.foot h2, .foot p {
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}



/* Add this media query for mobile devices */
@media screen and (max-width: 600px) {
  #gallery {
    padding: 0; 
    margin: 0 auto; 
    width: 82%; /* Make #gallery take up the full width of its parent */
  }

  ul#imageList,
  ul#imageList li {
    width: 100%; /* Make the li elements take up the full width of #imageList */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    border: none; /* Remove borders */
  }

  li {
    width: 100%;
    display: block;
  }

  #imageList li img {
    width: 100%; /* Make each image take up the full width of its parent li */
    height: auto; /* Maintain the image's aspect ratio */
    object-fit: cover; /* Make the images scale up to cover the full width of the li */
  }
  
  .abtwrapper {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10vh; 
    width: 100%;
    padding:0px 0px;
  }

  .AboutImage {
    margin-left: 9.5vw;
    margin-right: 9.5vw;
    width: 81%;
    margin-bottom: 4%;
    font-family: futura-pt , sans-serif;
    padding: 0px 0px;
  }
  
  .AboutImage img{
    width: 100%;
    height: auto;
    padding: 0px 0px;
  }

  .AboutText {
    margin-right: 9.5vw;
    margin-left: 9.5vw;
    overflow-wrap: break-word;
    font-family: futura-pt , sans-serif;
    text-align: center;
  }
  
  .AboutText h2 {
    margin-top: 0;
    margin-bottom: 4%;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
  }

  .foot {
    display: flex;
    flex-direction: column;
    max-width: 82vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
    margin-bottom: 4vw;
    padding: 0;
    justify-content: center;
  }
  
  .foot h2, .foot p {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
}

/*
ul#imageList li:last-child {
  display: flex;
  justify-content: center;
  align-items:center;
}*/

/*
@media (max-aspect-ratio: 1/1) {
  ul#imageList li {
    height: 30vh;
  }
}

@media (max-height: 480px) {
  ul#imageList li {
    height: 80vh;
  }
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  ul#imageList {
    flex-direction: row;
  }

  ul#imageList li {
    height: auto;
    width: 100%;
  }

  ul#imageList img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}

*/


