body {
    background-color: rgb(19, 19, 19);
    height:100%;
    max-width: 100%;
    overflow-x: hidden;
}
head{
    height:100%;
}

.aboutimg {
    flex-basis: 42%;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    object-fit: contain;
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: inline-block; 
    max-width: 90%; 
}

.aboutimg:hover .caption {
    opacity: 1;
}

.aboutimg img {
    max-width: 100%;
    height: auto;
}

p {
    font-family: "future-pt", sans-serif;
    color: ghostwhite;
    
}

h1 {
    font-family: "futura-pt", sans-serif;
    color: ghostwhite;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 2.5vh;
    margin-bottom: 0px;
}

h2 { 
    font-family: "futura-pt", sans-serif;
    color: ghostwhite;
    padding-top: 0px;
    margin-top: 0px;
}


table .button{
    width:auto;
    height: auto;
    transition: transform .25s ease-in-out;
    margin-left: 10px;
    margin-right: 10px;
}

table .button:hover {
    transform: scale(1.1);
}

table { 
    margin-left: auto;
    margin-right: auto;
    padding-left:0;
    padding-right:0;
    width: 60 vw;
}

th {
    margin-left: 8%;
    margin-right: 8%;
    padding: 1vw 4.5vw;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.grid-container {
    margin-left: 12%;
    margin-right: 12%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 1rem;
}

.grid-item {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    object-fit: contain;

}
 
 body {
   margin: 0;
   padding: 0;
 }

 #gallery {
    display: flex;
    justify-content: center;
    width: 100%;
 }

ul {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  
  li {
    height: 40vh;
    flex-grow: 1;
  }
  
  img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
  }

 li:last-child {
    flex-grow: 10;
  }

  @media (max-aspect-ratio: 1/1) {
    li {
      height: 30vh;
    }
  }

  @media (max-height: 480px) {
    li {
      height: 80vh;
    }
  }

  @media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    ul {
      flex-direction: row;
    }
  
    li {
      height: auto;
      width: 100%;
    }
  
    img {
      width: 100%;
      max-height: 75vh;
      min-width: 0;
    }
}




