@font-face{
  font-family:futura-pt; 
  src: url(fonts/FuturaCyrillicBook.ttf)
}

body {
    background-color: #151d22;
    font-family: futura-pt , sans-serif;
    height:100%;
    max-width: 100%;
    overflow-x: hidden;
    font-size: 100%;
}
head{
    height:100%;
}

a {
    text-decoration: none;
}

.title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: futura-pt , sans-serif;
  font-size: 3em;
  color: #8DF0D4 ; /* #3A947A*/
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 5vh;
  margin-bottom: 1vh;
}

.ProjText {
  margin-left: 9.5vw;
  max-width: calc(100% - 19vw); /* Adjusted value */
  overflow-wrap: break-word;
  font-family: futura-pt , sans-serif;
}

.AboutImage {
  margin-left: 9.5vw;
  margin-right: 2vw;
  overflow-wrap: break-word;
  font-family: futura-pt , sans-serif;
  padding: 0px 0px;
}

.AboutImage img{
  width: 38vw;
  height: auto;
  padding: 0px 0px;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10vh; 
  width: 100%;
  padding:0px 0px;
}

.AboutText {
  margin-right: 9.5vw;
  margin-left: 2vw;
  max-width: calc(100% - 19vw); /* Adjusted value */
  overflow-wrap: break-word;
  font-family: futura-pt , sans-serif;
}

.AboutText h2 {
  font-size: 1.5em;
}

#line {
  background-color: #8DF0D4;
  height: 0.2vh;
  padding-top:0vw;
  padding-left:0vw;
  margin-left: 9.5vw;
  margin-right: 9.5vw;
  margin-top: 0vh;
  margin-bottom: 5vh;
  border: 0vh solid #3A947A;
}

.aboutimg {
    
    width: 88.5vw;
    margin-left: 9.5vw;
    margin-right: 2vw;
    align-self: flex-start;
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: inline-block; 
    max-width: 90%; 
}

.aboutimg:hover .caption {
    opacity: 1;
}

.aboutimg img {
    max-width: 100%;
    height: auto;
}

p {
    font-family: futura-pt , sans-serif;
    color: ghostwhite;
    
}

h1 {
    font-family: futura-pt , sans-serif;
    font-size: 3em;
    color: #8DF0D4 ; /* #3A947A*/
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 5vh;
    margin-bottom: 1vh;
}

h2 { 
  font-family: futura-pt , sans-serif;
  font-size: 1em;
  color: #8DF0D4;
  padding-top: 0px;
  margin-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

h2#currentPage {
  color: #3A947A;
}


table .button{
    width:auto;
    height: auto;
    transition: transform .25s ease-in-out;
    margin-left: 10px;
    margin-right: 10px;
    
}

table .button:hover {
    transform: scale(1.1);
}

table { 
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px;
    width: 60 vw;
}

th {
    margin-left: 5.5vw;
    margin-right: 5.5vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 0px;
    padding-bottom:0px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.grid-container {
    margin-left: 12%;
    margin-right: 12%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 1rem;
}

.grid-item {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    object-fit: contain;

}
 
 body {
   margin: 0;
   padding: 0;
 }

 #gallery {
  display: flex;
  justify-content: center;
  width: 81%; 
  margin-left: auto;
  margin-right: auto;
}

/* Add this media query for mobile devices */
@media screen and (max-width: 600px) {
  #gallery {
      padding: 0; 
      margin: 0 auto; 
      width: 81%
  }

  #imageList li img {
      width: 100%; 
  }
}

ul#imageList {
  text-align: center;
  width: calc(100vw - 17px); /* Subtract the width of the scrollbar */
  margin: auto;
  padding: 0;
}

ul#imageList li {
  width: 40vw; /* Adjust this value to set the width of the grid items */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: 0;
}

ul#imageList img {
  max-width: 100%;
  height: auto;
  transition: opacity 0.3s ease;
}

#imageList a {
  position: relative;
  display: block;
}

#imageList a:hover img {
  opacity: 0.5;
}

#imageList div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#imageList a:hover div {
  opacity: 1;
}

/*
ul#imageList li:last-child {
  display: flex;
  justify-content: center;
  align-items:center;
}*/

/*
@media (max-aspect-ratio: 1/1) {
  ul#imageList li {
    height: 30vh;
  }
}

@media (max-height: 480px) {
  ul#imageList li {
    height: 80vh;
  }
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  ul#imageList {
    flex-direction: row;
  }

  ul#imageList li {
    height: auto;
    width: 100%;
  }

  ul#imageList img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}

*/


